# Pandas 練習

In [1]:
import pandas as pd

參考資料:  
[pandas.read_csv — pandas 1.5.3 documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [2]:
# 讀取 CSV 檔案並轉換成 pandas 的 DataFrame 格式
gen_df = pd.read_csv("example datasets/gender_classification_v7.csv")
gen_df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

參考資料:  
[pandas.DataFrame.columns — pandas 1.5.3 documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html#pandas.DataFrame.columns)  
[pandas.Index.to_list — pandas 1.5.3 documentation](https://pandas.pydata.org/docs/reference/api/pandas.Index.to_list.html#pandas.Index.to_list)

In [3]:
# gen_df.columns 可以取得相應的標籤
# gen_df.columns 格式為 index 因此需要使用 to_list() 將資料轉換成 list 格式
gen_df.columns.to_list()
labels = tuple(gen_df.columns)
labels

('long_hair',
 'forehead_width_cm',
 'forehead_height_cm',
 'nose_wide',
 'nose_long',
 'lips_thin',
 'distance_nose_to_lip_long',
 'gender')

參考資料:  
[pandas.DataFrame.iloc — pandas 1.5.3 documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

In [4]:
# 一個 [] 為 pandas.core.series.Series 格式
gen_df.iloc[0]

long_hair                       1
forehead_width_cm            11.8
forehead_height_cm            6.1
nose_wide                       1
nose_long                       0
lips_thin                       1
distance_nose_to_lip_long       1
gender                       Male
Name: 0, dtype: object

In [5]:
# 一個 [[]] 為 pandas.core.frame.DataFrame 格式
gen_df.iloc[[0]]

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male

In [6]:
tuple(gen_df.iloc[0])

(1, 11.8, 6.1, 1, 0, 1, 1, 'Male')